
@{
    ViewBag.Title = "OneNokta";
}

<h2>OneNokta</h2>
@ViewBag.ANokta.NoktaPost
<br />
<div style="color: Green">Number Of Votes UP: @ViewBag.NumberOfVotesUp</div>
<div style="color: Red">Number Of Votes Down: @ViewBag.NumberOfVotesDown</div>


<div style="color: Green">@Html.ActionLink("Vote UP", "VoteUp", new { NoktaID = @ViewBag.ANokta.NoktaId })</div>
<div style="color: Red">@Html.ActionLink("Vote Down", "VoteDown", new { NoktaID = @ViewBag.ANokta.NoktaId })</div>

<table>

    @{
        if (ViewBag.Comments != null)
        {
            foreach (Nokta.Models.Comments item in ViewBag.Comments)
            {
                <tr>
                    <td>
                        @item.CommentPost
                    </td>
               
                </tr>
            }
        }

     
    }
   
</table>
                
    <br />
         @using (Html.BeginForm())
         {
      <input type="text" name="Text_Comments" />
      <input type="hidden" name="NoktaID_Hidden" value="@ViewBag.ANokta.NoktaId" />
      <input type="submit" value="Add Comment" />
         }

